<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
    <form action="" id="form">
        <section>
            <b>Item Weight: </b><input type="text" placeholder="decimal"><b>lbs</b>
        </section>
        <section>
            <input type="radio" name="mail"><b>Letters (Stamped)</b>
        </section>
        <section>
            <input type="radio" name="mail"><b>Letters (Meters)</b>
        </section>
        <section>
            <input type="radio" name="mail"><b>Large Envelopes (Flats)</b>
        </section>
        <section>
            <input type="radio" name="mail"><b>First-Class Package Service-Retail</b>
        </section>
        <button type="submit">Submit</button>
    </form>
</body>
</html>