<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>

<body>
    <div id="receipt">
        <h1>Your Order Has Been Placed!</h1>
        <table>
            <tr>
                <th>Type</th>
                <th>Weight</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Letter</td>
                <td>2oz</td>
                <td>$1.20</td>
            </tr>
        </table>
    </div>
    <footer>
        &copy; 2020 | CSE 341 | Cameron McCleve
    </footer>
</body>

</html>